# Pandas

In [66]:
import numpy as np
import pandas as pd
# 创建一个符合正太分布的10个股票5天的涨跌幅数据
stock_change = np.random.normal(0,1,(10,5))

In [67]:
stock_change

array([[ 0.53575941, -1.97388898,  0.27696999,  0.09901673, -0.41052757],
       [-1.22104241,  0.13766419, -1.27507366, -1.03044826, -0.98849305],
       [ 0.26696754,  0.04762418, -0.52581573, -0.10686001, -0.98605489],
       [-0.6568066 ,  0.17359425,  0.5294378 ,  0.48601872,  2.26017697],
       [-2.38608933, -0.56102497,  1.27708461,  0.67227919, -0.2741104 ],
       [ 0.33798971,  0.42210365,  0.85952118,  1.09880569,  0.70754585],
       [ 0.18619064,  1.22563964,  0.84531833, -2.17913398,  1.03333701],
       [-0.33503899, -1.82854766, -0.61459567, -0.83077172,  0.77919578],
       [-0.75540829, -0.62828421, -0.73000518,  1.15477956, -1.32232253],
       [-0.64158061, -0.54114245,  0.25560708, -0.19291507, -2.73366286]])

In [68]:
pd.DataFrame(stock_change)

          0         1         2         3         4
0  0.535759 -1.973889  0.276970  0.099017 -0.410528
1 -1.221042  0.137664 -1.275074 -1.030448 -0.988493
2  0.266968  0.047624 -0.525816 -0.106860 -0.986055
3 -0.656807  0.173594  0.529438  0.486019  2.260177
4 -2.386089 -0.561025  1.277085  0.672279 -0.274110
5  0.337990  0.422104  0.859521  1.098806  0.707546
6  0.186191  1.225640  0.845318 -2.179134  1.033337
7 -0.335039 -1.828548 -0.614596 -0.830772  0.779196
8 -0.755408 -0.628284 -0.730005  1.154780 -1.322323
9 -0.641581 -0.541142  0.255607 -0.192915 -2.733663

In [69]:
# 添加行索引
stock = ["stocks{}".format(i) for i in range(10)]

In [70]:
data = pd.DataFrame(stock_change,index = stock)

## DataFrame 的属性，比ndarray多了行列索引

In [71]:
stock_change.shape

(10, 5)

In [72]:
data

                0         1         2         3         4
stocks0  0.535759 -1.973889  0.276970  0.099017 -0.410528
stocks1 -1.221042  0.137664 -1.275074 -1.030448 -0.988493
stocks2  0.266968  0.047624 -0.525816 -0.106860 -0.986055
stocks3 -0.656807  0.173594  0.529438  0.486019  2.260177
stocks4 -2.386089 -0.561025  1.277085  0.672279 -0.274110
stocks5  0.337990  0.422104  0.859521  1.098806  0.707546
stocks6  0.186191  1.225640  0.845318 -2.179134  1.033337
stocks7 -0.335039 -1.828548 -0.614596 -0.830772  0.779196
stocks8 -0.755408 -0.628284 -0.730005  1.154780 -1.322323
stocks9 -0.641581 -0.541142  0.255607 -0.192915 -2.733663

In [73]:
data.index

Index(['stocks0', 'stocks1', 'stocks2', 'stocks3', 'stocks4', 'stocks5',
       'stocks6', 'stocks7', 'stocks8', 'stocks9'],
      dtype='object')

In [74]:
data.columns

RangeIndex(start=0, stop=5, step=1)

In [75]:
data.T

,stocks0,stocks1,stocks2,stocks3,stocks4,stocks5,stocks6,stocks7,stocks8,stocks9
0,0.535759,-1.221042,0.266968,-0.656807,-2.386089,0.337990,0.186191,-0.335039,-0.755408,-0.641581
1,-1.973889,0.137664,0.047624,0.173594,-0.561025,0.422104,1.225640,-1.828548,-0.628284,-0.541142
2,0.276970,-1.275074,-0.525816,0.529438,1.277085,0.859521,0.845318,-0.614596,-0.730005,0.255607
3,0.099017,-1.030448,-0.106860,0.486019,0.672279,1.098806,-2.179134,-0.830772,1.154780,-0.192915
4,-0.410528,-0.988493,-0.986055,2.260177,-0.274110,0.707546,1.033337,0.779196,-1.322323,-2.733663

In [76]:
data.head(3)# 返回头部几行，默认返回前五行

                0         1         2         3         4
stocks0  0.535759 -1.973889  0.276970  0.099017 -0.410528
stocks1 -1.221042  0.137664 -1.275074 -1.030448 -0.988493
stocks2  0.266968  0.047624 -0.525816 -0.106860 -0.986055

In [77]:
data.tail(2)# 返回末尾几行，默认返回后五行

                0         1         2         3         4
stocks8 -0.755408 -0.628284 -0.730005  1.154780 -1.322323
stocks9 -0.641581 -0.541142  0.255607 -0.192915 -2.733663

In [78]:
# data.index[2] = "stock88" #不能单独修改索引

In [79]:
stock_ = ["stock_{}".format(i) for i in range(10)]

In [80]:
stock_

['stock_0',
 'stock_1',
 'stock_2',
 'stock_3',
 'stock_4',
 'stock_5',
 'stock_6',
 'stock_7',
 'stock_8',
 'stock_9']

In [81]:
data.index

Index(['stocks0', 'stocks1', 'stocks2', 'stocks3', 'stocks4', 'stocks5',
       'stocks6', 'stocks7', 'stocks8', 'stocks9'],
      dtype='object')

In [82]:
data.index = stock_

In [83]:
data

                0         1         2         3         4
stock_0  0.535759 -1.973889  0.276970  0.099017 -0.410528
stock_1 -1.221042  0.137664 -1.275074 -1.030448 -0.988493
stock_2  0.266968  0.047624 -0.525816 -0.106860 -0.986055
stock_3 -0.656807  0.173594  0.529438  0.486019  2.260177
stock_4 -2.386089 -0.561025  1.277085  0.672279 -0.274110
stock_5  0.337990  0.422104  0.859521  1.098806  0.707546
stock_6  0.186191  1.225640  0.845318 -2.179134  1.033337
stock_7 -0.335039 -1.828548 -0.614596 -0.830772  0.779196
stock_8 -0.755408 -0.628284 -0.730005  1.154780 -1.322323
stock_9 -0.641581 -0.541142  0.255607 -0.192915 -2.733663

In [84]:
data.reset_index()

     index         0         1         2         3         4
0  stock_0  0.535759 -1.973889  0.276970  0.099017 -0.410528
1  stock_1 -1.221042  0.137664 -1.275074 -1.030448 -0.988493
2  stock_2  0.266968  0.047624 -0.525816 -0.106860 -0.986055
3  stock_3 -0.656807  0.173594  0.529438  0.486019  2.260177
4  stock_4 -2.386089 -0.561025  1.277085  0.672279 -0.274110
5  stock_5  0.337990  0.422104  0.859521  1.098806  0.707546
6  stock_6  0.186191  1.225640  0.845318 -2.179134  1.033337
7  stock_7 -0.335039 -1.828548 -0.614596 -0.830772  0.779196
8  stock_8 -0.755408 -0.628284 -0.730005  1.154780 -1.322323
9  stock_9 -0.641581 -0.541142  0.255607 -0.192915 -2.733663

In [85]:
data.reset_index().shape

(10, 6)

In [86]:
data.reset_index(drop = True)# True 当做新的索引，删除原来的列。默认为True

          0         1         2         3         4
0  0.535759 -1.973889  0.276970  0.099017 -0.410528
1 -1.221042  0.137664 -1.275074 -1.030448 -0.988493
2  0.266968  0.047624 -0.525816 -0.106860 -0.986055
3 -0.656807  0.173594  0.529438  0.486019  2.260177
4 -2.386089 -0.561025  1.277085  0.672279 -0.274110
5  0.337990  0.422104  0.859521  1.098806  0.707546
6  0.186191  1.225640  0.845318 -2.179134  1.033337
7 -0.335039 -1.828548 -0.614596 -0.830772  0.779196
8 -0.755408 -0.628284 -0.730005  1.154780 -1.322323
9 -0.641581 -0.541142  0.255607 -0.192915 -2.733663

In [94]:
data.reset_index(drop = True).shape

(10, 5)

In [95]:
data.reset_index(drop = False)

     index         0         1         2         3         4
0  stock_0  0.535759 -1.973889  0.276970  0.099017 -0.410528
1  stock_1 -1.221042  0.137664 -1.275074 -1.030448 -0.988493
2  stock_2  0.266968  0.047624 -0.525816 -0.106860 -0.986055
3  stock_3 -0.656807  0.173594  0.529438  0.486019  2.260177
4  stock_4 -2.386089 -0.561025  1.277085  0.672279 -0.274110
5  stock_5  0.337990  0.422104  0.859521  1.098806  0.707546
6  stock_6  0.186191  1.225640  0.845318 -2.179134  1.033337
7  stock_7 -0.335039 -1.828548 -0.614596 -0.830772  0.779196
8  stock_8 -0.755408 -0.628284 -0.730005  1.154780 -1.322323
9  stock_9 -0.641581 -0.541142  0.255607 -0.192915 -2.733663

In [96]:
data.reset_index().shape

(10, 6)

In [106]:
df = pd.DataFrame({'month':[1,4,7,10],
                  'year':[2012,2014,2013,2014],
                  'sale':[55,40,84,31]})

In [107]:
df

   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [109]:
# 以月份设置新的索引
df.set_index("month",drop = False)

       month  year  sale
month
1          1  2012    55
4          4  2014    40
7          7  2013    84
10        10  2014    31

In [111]:
df.set_index("month",drop = True)

       year  sale
month
1      2012    55
4      2014    40
7      2013    84
10     2014    31

## 设置多个索引

In [115]:
new_df = df.set_index(["year","month"])

In [116]:
new_df

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

In [117]:
new_df.index

MultiIndex(levels=[[2012, 2013, 2014], [1, 4, 7, 10]],
           codes=[[0, 2, 1, 2], [0, 1, 2, 3]],
           names=['year', 'month'])

In [120]:
new_df.index.names

FrozenList(['year', 'month'])

In [121]:
new_df.index.levels

FrozenList([[2012, 2013, 2014], [1, 4, 7, 10]])